/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	padding: 0;
	margin: 0;
}
.bienvenida{
	background-image: url(../img/portada.jpg);
	background-size: cover;
	background-attachment: fixed;
    background-position: center; 
	height: 600px;
	color: white;

}

.div-save{
	padding-top : 200px;

}

.boton{
	font-size: 25px;
	background: #41521F;
	border: none;
}

.p-white{
	color:white;
}

.koalas-img{
	width: 100%;
}